@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue.otf') format('opentype'), 
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
}
@font-face {
    font-family: 'Neue';
    src: url('location.eot');
    src: url('location.eot#iefix') format('embedded-opentype'),
         url('location.woff') format('woff'),
         url('location.ttf') format('truetype'),
         url('location.svg#Name') format('svg'),
         url('../fonts/HelveticaNeue.otf') format('opentype');   
}
.left{
  float: left;
}
.right{
  float:right;
}
.relative{
  position: relative;
}
.neue{
    font-family: 'Neue';
}
a{
  text-decoration: none;
  color:#474747;
  background:none;
}
a:hover{
  color:#000;
   text-decoration: none;
   outline:none;
}
ul{
  padding:0px;
}
body{
  font-family: 'Bebas';
}
footer{
  /*width:60px;*/
}
footer span{
  /*line-height: 60px;*/
  padding:21px 0px;
  color:white;
  font-size:12px;
  font-family: 'Neue';
  display: block;
}
footer .left-span{
  text-align: left;
}
footer .right-span{
  text-align: right;
}
footer a{
color:#fff;
outline:none;
}
footer a:hover{
color:#fff;
outline:none;
}
/************** Home Page *************/
body.home{
    background:#aa3c62;
}
body.home .home-logo{
  position: fixed;
  top:-20px;
  z-index: 0;
}

/************ Project Page ************/
body.project hr{
  border-color:#95b595;
  margin:0px;
  margin-bottom:46px;
}
body.project footer{
  background:#95b595;
  margin-top:53px;
}
body.project footer.prdetail{
  margin-top:13px;
}
/************ Contact Page ************/
body.contact ul.main-nav li a{
  color:#474747;
  outline:none;
}
body.contact ul.main-nav li.active a{
  color:#0c3664;
  outline:none;
}
body.contact hr{
  border-color:#002d5d;
  margin:0px;
  margin-bottom:46px;
}
body.contact footer{
  background:#002d5d;
  margin-top:120px;
}
p.address{
  font-size:18px;
  color:#474747;
}
p.contact-info{
 font-size:18px;
 color:#474747;
 margin-top: 90px;
word-wrap:break-word;

}
p.registered{
  color:#474747;
  margin-top: 110px;
  font-size: 12px;
}
/************* Practice *************/

/******* People ******
@-moz-document url-prefix() {
@media (min-width: 980px) and (max-width: 2000px) {
    .col-xs-12 {
      
      /*background:red;
    }
    .home-logo{
      max-height:700px;
      height:100%;
      width:100%;
    }
}
}*/
body.practice hr{
  border-color:#f47c22;
  margin:0px;
  margin-bottom:46px;
}
body.practice ul.main-nav li a{
  color:#474747;
  outline:none;
}
body.practice ul li.active a{
  color:#f47c22;
  outline:none;
}
div.people-info .name{

  margin-top: 15px;
}
div.people-info .info{
  font-family: 'Neue';
  margin-top: 5px;
}
div.people img{
  float: left;
  /*-webkit-transition: scale .2s ease-in-out;
  -moz-transition: scale .2s ease-in-out;
  -ms-transition: scale .2s ease-in-out;
  -o-transition: scale .2s ease-in-out;
   transition: scale .2s ease-in-out;*/
}
div.people img:not(.box):hover {
/* -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);*/

 opacity:1;
}
body.practice .side-menu{
list-style: none;
}
body.practice .side-menu li{
  line-height: 28px;
} 
body.practice .side-menu li a{
  font-size:26px;
  font-family: 'Bebas';
  color:#474747;
  text-decoration:none;
  transition: all 0.4s ease-in-out;
  outline:none;
}
body.practice .side-menu li a:hover{
  color:#F47C22;
  transition: all 0.4s ease-in-out;
  outline:none;
}
div[data-info*='ima']{
  display: none;
}
body.practice footer{
  background:#f47c22;
  margin-top:82px;
}

/******* Testimonials ******/

div[class*='test-']{
  font-family: 'Neue';
  font-size: 12px;
}
div[class*='test-'] .name{
  font-family: 'Bebas';
  margin-top: 9px;
  font-size: 16px;
  line-height: 15px;
}
div[class*='test-']>span{
  display: block;
}
.test-1{
  color:#dcad26;
  position: relative;
}
.test-1:before{
  content: url('../images/test-1-up.jpg');
  position:absolute;
  z-index: -1;
}
.test-1:after{
  content: url('../images/test-1-down.jpg');
  position:absolute;
  z-index: -1;
  bottom:0px;
  right:0px;
}
.test-1 .description{
  padding-top: 20px;
}
.test-1 .edu{
  font-style: italic;
  padding-bottom: 19px;
}

.test-2{
  color:#6d92a7;
  position: relative;
}
.test-2 .description{
  padding-top:20px;
}
.test-2 .edu{
  font-style: italic;
  padding-bottom: 19px;
}
.test-2:before{
  content: url('../images/test-2-up.jpg');
  position:absolute;
  z-index: -1;
}
.test-2:after{
  content: url('../images/test-2-down.jpg');
  position:absolute;
  z-index: -1;
  bottom:0px;
  right:0px;
}

.test-3{
  color:#af395e;
  position: relative;
  margin-top: 115px;
}
.test-3 .description{
  padding-top:20px;
}
.test-3 .edu{
  font-style: italic;
  padding-bottom: 15px;
}
.test-3:before{
  content: url('../images/test-3-up.jpg');
  position:absolute;
  z-index: -1;
}
.test-3:after{
  content: url('../images/test-3-down.jpg');
  position:absolute;
  z-index: -1;
  bottom:0px;
  right:0px;
}

.test-4{
  color:#002d5d;
  position: relative;
}
.test-4 .description{
  padding-top:20px;
}
.test-4 .edu{
  font-style: italic;
  padding-bottom: 15px;
}
.test-4:before{
  content: url('../images/test-4-up.jpg');
  position:absolute;
  z-index: -1;
  outline:none;
}
.test-4:after{
  content: url('../images/test-4-down.jpg');
  position:absolute;
  z-index: -1;
  bottom:0px;
  right:0px;
  outline:none;
}

.test-5{
  color:#95b596;
  position: relative;
}
.test-5 .description{
  padding-top:20px;
}
.test-5 .edu{
  font-style: italic;
  padding-bottom: 15px;
}
.test-5:before{
  content: url('../images/test-5-up.jpg');
  position:absolute;
  z-index: -1;
  outline:none;
}
.test-5:after{
  content: url('../images/test-5-down.jpg');
  position:absolute;
  z-index: -1;
  bottom:0px;
  right:0px;
  outline:none;
}

.test-6{
  color:#f47c22;
  position: relative;
}
.test-6 .description{
  padding-top:20px;
}
.test-6 .edu{
  font-style: italic;
  padding-bottom: 15px;
}
.test-6:before{
  content: url('../images/test-6-up.jpg');
  position:absolute;
  z-index: -1;
  outline:none;
}
.test-6:after{
  content: url('../images/test-6-down.jpg');
  position:absolute;
  z-index: -1;
  bottom:0px;
  right:0px;
  outline:none;
}
 a.button img{
  width:50px;
  outline:none;
 }
 a.button{
  position: absolute;
  z-index:1000000;
  display: none;
  top:20px;
  color:#fff;
  font-size:22px;
  font-weight:normal;
  text-decoration:none;
  outline:none;
  transition: all 0.4s ease-in-out;
 }
 a.button:hover{
  color:#6f0126;
  transition: all 0.4s ease-in-out;
  outline:none;
 }
ul.main-nav2{
  display: none;
}

a.toggleMenu {display:none; padding:10px;color:#fff; font-size:24px; text-transform:uppercase;font-weight:normal; outline:none; float:none; position:relative; z-index:1; text-decoration:none; background:#9c3358;}

a.toggleMenu.prc-org {background:#f47c22; margin-top:88px; padding:5px 10px; outline:none;}
a.toggleMenu.prjct {background:#709870; margin-top:88px; padding:5px 10px; outline:none;}
a.toggleMenu.cntpg {background:#0C3664; margin-top:88px; padding:5px 10px; outline:none;}

.nav { float:right; padding:0px; margin-top:40px; position:relative; z-index:1; text-decoration:none;}
.nav.innav {margin-top:36px;}
.nav.homenav {margin-right:18px; margin-top:35px;}
.nav li { float:left;vertical-align:middle;}
.nav li a.first { display:block; color:#fff; text-transform:uppercase; text-align:left; font-size:26px; padding-left:27px; padding-right:0px; transition: all 0.4s ease-in-out; line-height:31px; outline:none;}
.nav li:hover a.first { color:#6f0126; transition: all 0.4s ease-in-out; background:none; outline:none;}

.nav li a.first.prclink { color:#474747; line-height:29px; transition: all 0.4s ease-in-out; outline:none;}
.nav li a.first.prclink.prcactive { color:#f47c22;}
.nav li:hover a.first.prclink{ color:#f47c22; transition: all 0.4s ease-in-out; background:none; outline:none;}

.nav li a.first.prjctlink { color:#474747; line-height:29px; transition: all 0.4s ease-in-out; outline:none;}
.nav li a.first.prjctlink.prjctactive { color:#95b595; outline:none;}
.nav li:hover a.first.prjctlink{ color:#95b595; transition: all 0.4s ease-in-out; background:none; outline:none;}

.nav li a.first.cntlink { color:#474747; line-height:29px; transition: all 0.4s ease-in-out; outline:none;}
.nav li a.first.cntlink.cntactive {color:#0C3664; outline:none;}
.nav li:hover a.first.cntlink{ color:#0C3664; transition: all 0.4s ease-in-out; background:none; outline:none;}

.logo1{ display:block;}
.logo2{ display:none;}
.inqlink{ color:#474747; font-size:18px; text-decoration:none; transition: all 0.4s ease-in-out; outline:none;}
.inqlink:hover{ color:#0C3664; transition: all 0.4s ease-in-out; text-decoration:none; outline:none;}

.leftcnt{ margin-top:40px;}
.leftcnt .hd{font-size:18px;font-family: 'Bebas'; color:#474747;}
.leftcnt p{color:#9e9e9e;font-family: 'Neue';font-size:12px;line-height:14px;margin-top:5px; font-weight:normal;}

.prleft{ margin-top:0px;}
.prleft .hd{font-size:16px;font-family: 'Bebas'; color:#474747; line-height:20px;}
.prleft .mnhd{font-size:26px;font-family: 'Bebas'; color:#474747; line-height:20px; margin-top:3px;}
.prleft p{color:#9e9e9e;font-family: 'Neue';font-size:12px;line-height:14px;margin-top:12px; font-weight:normal;}
.prleft p.incnt{color:#9e9e9e;font-family: 'Neue';font-size:12px;line-height:18px; margin-top:10px; font-weight:normal;}
.prleft a{ display:block; text-decoration:none; font-size:16px;font-family: 'Bebas'; color:#474747; line-height:20px; transition: all 0.4s ease-in-out; margin-top:128px;
outline:none;}
.prleft a:hover{color:#95b595; transition: all 0.4s ease-in-out; outline:none;}

.prleft a.emlink{ display:inline; text-decoration:none; font-size:12px; font-family: 'Neue'; color:#95b595; transition: all 0.4s ease-in-out; margin-top:0px; outline:none;}
.prleft a.emlink:hover{color:#9e9e9e; transition: all 0.4s ease-in-out; outline:none;}

.prjmenu{ margin-bottom:16px; float:left; width:100%; list-style:none;}
.prjmenu li{ float:left; margin:0px; padding:0px 20px 0px 0px;}
.prjmenu li a{ display:inline; font-family: 'Bebas'; color:#474747; font-size:26px; line-height:24px; transition: all 0.4s ease-in-out; outline:none;}
.prjmenu li a:hover{ color:#95b595; transition: all 0.4s ease-in-out; outline:none;}
.prjmenu li a.prjmenuact{ color:#95b595; outline:none;}

.prlist{float:left; width:100%;list-style:none; margin:0px; padding:0px;}
.prlist li{ float:left; margin:0px 15px 15px 0px; padding:0px; width:23%;}
.prlist li.prspc{ margin-right:0px;}
.prlist li a.inlist{ float:left; border:1px solid #f8f8f8; text-decoration:none; outline:none; transition: all 0.4s ease-in-out; font-size:16px; color:#474747;}
.prlist li a.inlist span.thumb{ display:block;}
.prlist li a.inlist span.prname{ display:block; padding:10px 10px 0px 10px;}
.prlist li a.inlist span.prcnt{display:block; font-family: 'Neue'; font-size:10px; line-height:13px; padding:0px 10px 10px 10px; opacity:0.8;}
.prlist li a.inlist:hover{border:1px solid #dedede; color:#95b595; outline:none; transition: all 0.4s ease-in-out;}

.tac{ text-align:center;}
.pr5{ padding-right:5px;}
.p10{ padding:10px;}
.clear{ clear:both;}
@media screen and (max-width:1024px){
.nav.homenav {margin-right:0px; }
}
@media screen and (max-width:991px){
body.home .home-logo{left:0px;}
.inlogo{ float:left;}

.nav li a.first { font-size:24px; padding-left:25px;}

.prlist li{ float:left; margin:0px 15px 15px 0px; padding:0px; width:30.5%;}
.prlist li.prspc{ margin-right:15px;}

div.people img{ width:75px; height:86px;}
}

@media screen and (max-width:940px){
.nav li a.first { font-size:22px; padding-left:23px;}
}

@media screen and (max-width:860px){
.nav li a.first { font-size:20px; padding-left:23px;}
}

@media screen and (max-width: 768px){
	.logo1{ display:none;}
	.logo2{ display:block;}
	.inlogo{ float:left; width:100%; text-align:center;}
	
	.nav.innav {margin-top:0px;}
	
	.navsapc{ padding:0px; margin:0px -23px;}
	.practice .col-md-9.navsapc{ padding:0px; margin:0px -14px;}
	.contact .col-md-9.navsapc{ padding:0px; margin:0px -14px;}
	.project .col-md-9.navsapc{ padding:0px; margin:0px -14px;}
	
	.leftcnt{ margin-bottom:40px; margin-top:20px;}
	.prleft{ margin-bottom:25px;}
	
	a.toggleMenu {color:#fff; right:0px; width:100%; display:block;}
	.nav { padding:0px; float:none; position: inherit; z-index:1; margin-top:0px; right:0px;}
	.nav li {float:none; margin-bottom:1px; padding:0px; }
	.nav li a.first { color:#fff; font-size:22px; padding:5px 20px; background: url(../images/mbmenubg.png) repeat;}
	.nav li:hover a.first {color:#420017; background:#fff;}
	
	.nav li a.first.prclink { background:#fea767; color:#fff;}
	.nav li a.first.prclink.prcactive { background:#fff; color:#F47C22;}
	.nav li:hover a.first.prclink {color:#F47C22; background:#fff;}
	
	.nav li a.first.prjctlink { background:#95b595; color:#fff;}
	.nav li a.first.prjctlink.prjctactive { background:#fff; color:#95b595;}
	.nav li:hover a.first.prjctlink {color:#95b595; background:#fff;}
	
	.nav li a.first.cntlink { background:#1a4b81; color:#fff;}
	.nav li a.first.cntlink.cntactive { background:#fff; color:#0C3664;}
	.nav li:hover a.first.cntlink {color:#0C3664; background:#fff;}
	
	.prlist li{ float:left; margin:0px 15px 15px 0px; padding:0px; width:30.5%;}
	.prlist li.prspc{ margin-right:15px;}
	
	body.home .home-logo{ position:relative; top:0px;}
	
    body.contact p.contact-info,body.contact p.registered {
        margin-top:25px;
     }
     body.contact p.registered{
        margin-bottom:30px;
     }
     body.testimonials .test-1{
        margin-top:25px;
     }
     body.testimonials .test-3{
        margin-top:0px;
     }
     
     ul.main-nav{
      display: none;
     }
      ul.main-nav2{
        margin-top:80px;
        float: left;
      }
       body.practice ul.main-nav2{
        
        float: right;
        
      }
     ul.main-nav2 li{
      padding-left: 0;
      float: none;
     }
      body.practice ul.main-nav2 li a{
      color:#f47c22;
     }
       body.practice a.button{
      right:45px;
     }
     a.button{
      display: inline-block;
     }
   
}
@media screen and (max-width:767px){
	.navsapc{ padding:0px; margin:0px -9px;}
	.practice .col-md-9.navsapc{ padding:0px; margin:0px;}
	.contact .col-md-9.navsapc{ padding:0px; margin:0px;}
	.project .col-md-9.navsapc{ padding:0px; margin:0px;}
	
	.prlist li{ float:left; margin:0px 10px 15px 10px; padding:0px; width:21.8%;}
	.prlist li.prspc{ margin-right:0px;}
}

@media screen and (max-width:700px){
	.prlist li{ float:left; margin:0px 22px 15px 0px; padding:0px; width:23%;}
	.prlist li.prspc{ margin-right:22px;}
}

@media screen and (max-width:640px){
	.prlist li{ float:left; margin:0px 35px 15px 0px; padding:0px; width:23%;}
	.prlist li.prspc{ margin-right:35px;}
}
@media screen and (max-width:600px){
	.prlist li{ float:left; margin:0px 45px 15px 0px; padding:0px; width:23%;}
	.prlist li.prspc{ margin-right:45px;}
}
@media screen and (max-width:575px){
	.prlist li{ float:left; margin:0px 50px 15px 0px; padding:0px; width:23%;}
	.prlist li.prspc{ margin-right:50px;}
}

@media screen and (max-width:520px){
	.prlist li{ float:left; margin:0px 50px 50px 50px; padding:0px; width:23%;}
	.prlist li.prspc{ margin-right:50px;}
}
@media screen and (max-width:480px){
	.prlist li{ float:left; margin:0px 45px 35px 45px; padding:0px; width:23%;}
	.prlist li.prspc{ margin-right:40px;}
}

@media screen and (max-width:470px){
	.prlist li{ float:left; margin:0px 40px 15px 40px; padding:0px; width:23%;}
	.prlist li.prspc{ margin-right:40px;}
}

@media screen and (max-width:430px){
	.prjmenu li{ float:none; display:block; border-top:1px solid #eee; padding:7px 0px 5px 0px;}
	.prlist li{ float:left; margin:0px 75px 30px 20px; padding:0px; width:23%;}
	.prlist li.prspc{ margin-right:75px;}
}
@media screen and (max-width:380px){
	.prlist li{ float:left; margin:0px 95px 15px 0px; padding:0px; width:23%;}
	.prlist li.prspc{ margin-right:95px;}
}
@media screen and (max-width:372px){
	.prlist li{ float:left; margin:0px 95px 15px 90px; padding:0px; width:23%;}
	.prlist li.prspc{ margin-right:95px;}
}
@media screen and (max-width:360px){
	.prlist{ position:relative; margin-left:2px; width:360px;}
	.prlist li{ float:left; margin:0px 12px 26px; padding:0px; width:40%;}
	.prlist li span.thumb img{ float:left; width:142px; margin-bottom:5px;}
	.prlist li a.inlist span.prcnt{ padding-bottom:8px;}
	.prlist li.prspc{ margin-right:0px;}
}
@media screen and (max-width:320px){
	.prlist{ position:relative; margin-left:-4px; width:320px;}
	.prlist li{ float:left; margin:0px 5px 11px 5px; padding:0px; width:45%;}
	.prlist li span.thumb img{ float:left; width:142px; margin-bottom:5px;}
	.prlist li a.inlist span.prcnt{ padding-bottom:8px;}
	.prlist li.prspc{ margin-right:0px;}
}
@media screen and (max-width: 991px){
  footer .left-span{
        text-align:center !important;
    }
    footer .right-span{
      text-align: center !important;
      padding-top: 0px;
    }
	p.contact-info {
    margin-top: 25px;
	}
	p.registered {
    margin-top: 20px;
	}
	.prleft a {
    margin-top:25px;
	}
} 

/* People Css*/

.ri-grid{
	margin: 30px auto 30px;
	position: relative;
	height: auto;
}

.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
	content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 

.ri-grid ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;	
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	background: #000;
}

.ri-grid ul li a{
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
	width: 55%;
}
.ri-grid-size-2{
	width: 100%;
}
.ri-grid-size-3{
	width: 100%;
	margin-top: 0px;
}

/* Shadow style */
.ri-shadow:after,
.ri-shadow:before{
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.ri-shadow:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.ri-grid-loading:after,
.ri-grid-loading:before{
	display: none;
}

.ri-loading-image{
	display: none;
}

.ri-grid-loading .ri-loading-image{
	position: relative;
	width: 30px;
	height: 30px;
	left: 50%;
	margin: 100px 0 0 -15px;
	display: block;
}
