.ui-tabs 							{ zoom: 1; }
.ui-tabs .ui-tabs-nav 				{ list-style: none; position: relative; padding: 2px 2px 0; overflow: hidden; 
									  top: 1px; z-index: 1000; }
.ui-tabs .ui-tabs-nav li 			{ position: relative; float: left;
									  border-bottom-width: 0 !important; margin: 0 2px -1px 0; background: #ccc; }
.ui-tabs .ui-tabs-nav li a 			{ float: left; text-decoration: none; padding: 5px 10px; color: black; }
.ui-tabs .ui-tabs-nav 
li.ui-tabs-selected 				{ padding-bottom: 1px; border-bottom-width: 0; background: white; }
.ui-tabs .ui-tabs-nav 
li.ui-tabs-selected a, .ui-tabs 
.ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav 
li.ui-state-processing a 			{ cursor: text; }
.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible 
.ui-tabs-nav li.ui-tabs-selected a  { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel 			{ display: block; border-width: 0; background: none; 
									  position: relative; min-height: 480px; }
.ui-tabs .ui-tabs-hide 				{ display: none !important; }




a.mover 							{ padding: 6px 13px;
								      color: #9e9e9e; font-weight: bold; text-decoration: none; }
.next-tab 							{ background:url("../images/Next.png") no-repeat scroll 45px 9px rgba(0, 0, 0, 0);
background:url("../images/Next.png")\9;
background-repeat:no-repeat\9;
background-position-x:45px\9;
background-position-y:9px\9;
									  bottom: 0; right: 0; 
									  -moz-border-radius-topleft: 10px; 
									  -webkit-border-top-left-radius: 10px;
									  position: absolute;
									  }
.prev-tab 							{ background:url("../images/back-ico.png") no-repeat scroll 0px 9px rgba(0, 0, 0, 0);
background:url("../images/back-ico.png")\9;
background-repeat:no-repeat\9;
background-position-x:0px\9;
background-position-y:9px\9;
										bottom: 0; left: 0; 
										-moz-border-radius-topright: 10px; 
										-webkit-border-top-right-radius: 10px; 
										position: absolute;
}
#tabs a:hover{color:#f47c22;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.next-tab 							{ background:url("../images/Next.png") no-repeat scroll 45px 8px rgba(0, 0, 0, 0);}
.prev-tab 							{ background:url("../images/back-ico.png") no-repeat scroll 0px 7px rgba(0, 0, 0, 0);

}